header {    background-color:  rgb(213,221,193);
    width: 100% ;
    border-style: solid;
    border-color: rgb(231, 241, 206);
    clear: both ;
    display: flex ;
}

.menu {
width: 63em;
margin: auto;
}

header img {
width: 125px;
float: left;
}

nav {
float: right;
}

nav ul li {
     list-style: none;
     margin: 10px;
     padding: 10px;
     float:left;
}

nav ul li a {
text-decoration: none;
color: rgb(84, 87, 76)
}







    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(313deg, rgb(216, 235, 154) 0%, rgb(223, 236, 179) 50%, rgba(255,255,255,1) 100%);
      margin: 0;
    }
  
    .form-container {
      background-color: rgb(204, 221, 164);
      max-width: 400px;
      margin: 50px auto;
      padding: 20px;
      border-radius: 5px;
      border: black;
      box-shadow: 20px 20px 15px rgba(3, 3, 3, 0.1);
    }
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input, textarea, select {
      width: 100%;
      padding: 5px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  
    button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: rgb(213,221,193);
      color: rgb(84, 87, 76);
      border:solid 2px rgb(84, 87, 76);
      border-radius: 4px;
      cursor: pointer;
      font-size: medium
    }
  
    button:hover {
      background-color: #ffffff;
    }

    html, body {
        height: 100%;
        margin: 0;
      }
      
      .page-content {
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }
      
     